@import "tailwindcss";

:root {
  --text-primary: #000000;
  --text-secondary: #1e293b;
  --text-muted: #64748b;
  --bg-page: #ffffff;
  --bg-secondary: #f1f5f9;
  --bg-navbar: #ffffff;
  --button-bg: #475569;
  --contact-bg: #475569;
  --font-family-base: 'Vazirmatn', sans-serif;
  --font-family-heading: 'Inter', sans-serif;
  --border-color: rgba(0, 0, 0, 0.1);
}

html.dark {
  --text-primary: #e0e0e0;
  --text-secondary: #e0e0e0;
  --text-muted: #e0e0e089;
  --bg-page: #1e1e1e;
  --bg-secondary: #292929;
  --bg-navbar: #1e1e1e;
  --button-bg: #292929;
  --contact-bg: #292929;
  --border-color: rgba(255, 255, 255, 0.1);
}

html[dir='rtl'] {
  direction: rtl;
  font-family: var(--font-family-base);
}

html[dir='ltr'] {
  direction: ltr;
  font-family: var(--font-family-heading);
}

body {
  background-color: var(--bg-page);
  color: var(--text-primary);
  transition:
    background-color 0.2s,
    color 0.2s;
}

html {
  scroll-behavior: smooth;
}
